#PROJECT VARIABLES
PROJECT_ASPNETCORE_ENVIRONMENT=Development
PROJECT_TIMEZONE=America/Tegucigalpa

PROJECT_DOCKER_REGISTRY=malcommedina
PROJECT_SENTRY_KEY=

PROJECT_DB_CONNECTION_STRING=
PROJECT_DOMAIN=https://fleetmanager-dev.mindsetgx.app

PROJECT_NAME="Fleet Manager"

#AUTH
AUTH_SECRET_KEY=

#EMAIL
SMTP_HOST=smtp.gmail.com
SMTP_FROM=digitalnewspapermedia@gmail.com
SMTP_FROM_NAME="Fleet Manager"
SMTP_PORT=587
SMTP_SSL=true
SMTP_USERNAME=digitalnewspapermedia@gmail.com
SMTP_PASSWORD=wwff mdgh evvl hinv
SMTP_TIMEOUT=30000